body{
    background: url(https://storge.pic2.me/cm/2560x1440/380/592a6ff062cf8.jpg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    background-size: 100%;
}

.part1{
    align-items: center;
    display: flex;
}

.forma{
    border: 3px solid rgb(0, 0, 0);
    margin-left: 35%;
    margin-top: 3%;
    width: 500px;
    background-color: rgb(134, 180, 250);
}
h1 {
    background: #caffb5; /* Цвет фона под заголовком */
    color: green; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
   }